main {
  background-image: linear-gradient(
      to right bottom,
      rgba(248, 177, 177, 0.9),
      rgba(199, 244, 247, 0.9)
    ),
    url(./assets/images/backgroundColor.jpg);
  background-size: cover;
  background-position: top;
}
